includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:

  level: 9
  phpVersion: 80100

  paths:
    - 2021/

  ignoreErrors:
    - '#^Short ternary operator is not allowed#'
